@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev,
.slick-next {
  display: none !important;
  z-index: 1000;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
  scroll-behavior: smooth;
}

#title {
  font-family: "SBAggroB";
}

.toc a {
  text-decoration: none;
  color: #555;
  font-size: 12px;
}

.toc li > ul {
  margin-top: 0;
  margin-bottom: 0;
}

.toc li > p {
  margin-bottom: 0;
}

.toc li {
  margin-bottom: 0;
  text-align: start;
}

.toc a.active {
  font-weight: bold;
  color: black;
  /* border-left: 3px solid #007acc; */
  padding-left: 4px;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 72px;
}

.signboard .slick-dots {
  position: absolute;
  top: -36px;
  right: 100px;
  text-align: right !important;
  height: 0px;
}
.signboard .slick-dots li {
  /* margin: 0 2px; */
  /* width: 30px; */
  height: 30px;
}
.signboard .slick-dots li button {
  width: 18px;
  height: 18px;
  border: 2px solid gray;
  border-radius: 100%;
}

.signboard .slick-dots .slick-active button {
  border-radius: 100%;
  background-color: black;
  border: 2px solid black;
}

.signboard .slick-dots li button:before {
  display: none;
  content: none;
}

/* blog post style */
.blog-post {
  text-align: start;
}

.blog-post p {
  line-height: 2;
  margin-top: 20px;
  font-size: 16px;
}

.blog-post h2 {
  line-height: 1.2;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
}

.blog-post h2:first-child {
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
}

.blog-post h3 {
  /* margin-top: 80px;
  margin-bottom: 40px; */

  font-size: 24px;
  line-height: 1.33;
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: 700;
}

.blog-post h4 {
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: 700;
}

.blog-post a {
  color: blue;
  text-decoration: underline;
}

.blog-post .img-description {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  text-align: center;
  margin: auto;
  color: #555;
}

.blog-post img {
}
